#nav {
    border: 1px solid #000;
}

.linktopage {
    display: inline-block;
}

.add {
    width: 400px;
    border: #cfcfcf 1px solid;
    padding: 20px;
}

.fieldnames label {
    display: block;
    width: 240px;
}

.record {
    border: #cfcfcf 1px dotted;
    height: 200px;
    width: 960px;
}

.record img {
    float: left;
    margin: 10px;
}

.clear {
    clear: both;
}

.wrapper {
    margin: 20px auto;
    width: 960px;
    background: #dfdfdf;
}